<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Phone Number</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h5>Add your phone number</h5>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>STD Code</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-9">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <br>
                <p>We never share numbers with clients</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-success">Save</button>
        </div>
        <br>
    </tbody>
</table>