<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a routerLink="expertise"><i class="fa fa-file"></i> Expertise</a></li>
                <li class="list-group-item"><a routerLink="elevel"><i class="fa fa-signal"></i> Expertise Level</a></li>
                <li class="list-group-item"><a routerLink="education"><i class="fa fa-graduation-cap"></i> Education</a></li>
                <li class="list-group-item"><a routerLink="employment"><i class="fa fa-calculator"></i> Employment</a></li>
                <li class="list-group-item"><a routerLink="language"><i class="fa fa-microphone"></i> Language</a></li>
                <li class="list-group-item"><a routerLink="hrate"><i class="fa fa-dollar"></i> Hourly Rate</a></li>
                <li class="list-group-item"><a routerLink="title"><i class="fa fa-user"></i> Title & Overview</a></li>
                <li class="list-group-item"><a routerLink="photo"><i class="fa fa-photo"></i> Profile Photo</a></li>
                <li class="list-group-item"><a routerLink="location"><i class="fa fa-map-marker"></i> Location</a></li>
                <li class="list-group-item"><a routerLink="phone"><i class="fa fa-phone"></i> Phone</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>