<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Location</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h5>Where are you based ?</h5>
                <p>Fill out your full details, we will keep it secure. Only your city and country will be visible to clients.
                </p>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Country</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>City</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>Zipcode</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <label>Full Address</label>
                <input type="text" class="form-control">
                <label>Landmark</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-success">Save</button>
        </div>
        <br>
    </tbody>
</table>