<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Profile Photo</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h5>Upload a clear photo that show your face</h5>
                <div class="row">
                    <div class="col-md-8 input-group">
                        <input type="file" class="form-control"><i class="fa fa-photo fa-2x"></i>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning"><i class="fa fa-plus"></i> Upload</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </tbody>
</table>