<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Title & Overview</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>Write professional description about yourself</p>
                <h5>Title ?</h5>
                <input type="text" class="form-control">
                <h5>Professional Overview</h5>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-success">Save & Next <i class="fa fa-arrow-right"></i></button>
        </div>
        <br>
    </tbody>
</table>