<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Hourly Rate</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <p>Hourly rates are visible to clients, once you publish your profile but while sending the proposal you can change it
                        </p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Hourly Rate</h5>
                        <p>The total amount will be visible to clients</p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <input type="text" placeholder="Enter Amount" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>First Enquiry Service Fee</h5>
                        <p>The firstenquiry will not charge any amount from your hard earned money</p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <input type="text" placeholder="Free" class="form-control bg-default">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>You will recieve</h5>
                        <p>You will recieve total 100% amount paid by client </p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-success">Save</button>
        </div>
        <br>
    </tbody>
</table>