<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Education</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h6>Add the schools you attended, area of study and degree details</h6>
                <button class="btn btn-warning"><i class="fa fa-plus"></i> Add Education</button>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
    </tbody>
</table>