<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Employment</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h5>Tell Role & responsibility of past employeer</h5>
                <label>Employeer Name</label>
                <input type="text" class="form-control">
                <div class="row">
                    <div class="col-md-6">
                        <label>From Date</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>To Date</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <h5>Your roles & responsiblities</h5>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-success">Save</button>
        </div>
        <br>
    </tbody>
</table>