<table class="table table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Languages</td>
        </tr>
    </thead>
    <tbody>
        <br>
        <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h5>What is your english language proficiency</h5>
                <select class="form-control">
                    <option>Fluent</option>
                    <option>Beginner</option>
                    <option>Medium</option>
                </select>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h5>What other languages do you speak?</h5>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>language</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label>proficiency</label>
                <select class="form-control">
                    <option>Fluent</option>
                    <option>Beginner</option>
                    <option>Medium</option>
                </select>
            </div>
            <div class="col-md-3">
                <br>
                <button class="btn btn-success">Save</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </tbody>
</table>